.sidebar{
    display: none;
    &-adveritsement{
        margin-bottom: 20px;
        @include media-breakpoint-down(sm){
           text-align: center;
        }
        @include media-breakpoint-up(sm){
            position: fixed;
        }
        
        // background:blue;
        // margin-top:10px;
        // width:100%;

    }
}